@import './_root'
@import './_basic.css'

body
  img
    display: block
    margin: 0 auto

body.home-page
  background-color: #b4d455
  color: white

body.details-page
  background-color: var(--color-purple)
  color: var(--color-yellow)
  a
    color: white
  ul
    list-style-type: none
  
body.about-page
  background-color: pink
  color: white